body{
    background-color: papayawhip;
}

.header{
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid #73AD21;
} 

#infoBox { 
    list-style-type: none;
    width: 100%;
} 

/* LINE 16 - fixed the off center list */
#infoBox ul{
    padding: 0px;; /* FIXED: set the padding to ZERO */
}

#infoBox ul li{
    list-style-type: none;
}